.main {
    position: absolute;
    display: flex;
    top: 13vh;
    left: 32.5vw;
    width: 40vw;
    height: 80vh;
    border-bottom-right-radius: 6px;
    /* background: rgba(0,0,0,0.6); */
    padding: 10px;
    padding-right: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 810px) { 
.main {
    position: absolute;
    top: 9.1vh;
    left: -5px;
    width: 90.6vw;
    height: 89vh;
    padding-right: 10px;
    border-bottom-left-radius: 6px;
} 
} 